extends base

block head
  title _app_
  script(type='text/javascript', src='/build/bundle.js')

block content
  h1.header.logo Why use _app_? Because _app_ is fucking awesome.
  if user
    h2 Logged in as #{user.username}
  else
    div
      a(href='/signup') Sign Up
      span &nbsp;or&nbsp;
      a(href='/login') Login
